name: "Merlin Agent DLL Release"

on:
  push:
    tags:
      - 'v*.*.*'
    paths-ignore:
      - '.github/**'
      - 'docs/**'
      - '.gitattributes'
      - '.gitignore'
      - '.gitmodules'
      - 'LICENSE'
      - 'README.MD'

jobs:
  release:
    name: 'Release Job'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: checkout
        uses: actions/checkout@v4

      - name: Set up Go
        id: setup_go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          check-latest: true

      - name: Install Mingw-w64
        id: install_mingw
        run: sudo apt-get install gcc-mingw-w64-x86-64

      - name: Install 7zip
        id: install_7zip
        run: sudo apt-get install p7zip-full

      - name: Make Distribution
        id: make_distro
        run: make distro

      - name: Create Draft Release
        id: create_draft_release
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: true
          prerelease: false
          artifactErrorsFailBuild: true
          artifacts: '*.7z'